table{
    background-color: rgb(223, 207, 207);
    line-height: 50px;
    .colordeColumnas{
        color:rgb(203, 226, 197);
        background-color: rgb(236, 239, 243);
    }
    .colordeFilas{
        color:crimson;
    }
}